input {
	width: 320px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
  margin-bottom: 10px;
}

.primary-button{
    display: block;
    width: 320px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
  }
  
  .primary-button:hover {
    background-color: #0056b3;
  }

.errors {

color: #ff0000; 
font-size: 14px;
margin-top: 5px; 
}

.caption {
    margin-top: 10px;
} 

.bodyform {
  width: 330px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

label {
  
  display: block;
  margin-bottom: 0px; 

}


header {
  background-color: #f3f3f3;
  padding: 10px 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-items nav a,
.user-actions a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
.menu-items nav a:hover,
.user-actions a:hover {
    background-color: #e0e0e0;
}
.username {
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-actions .delete-account {
  background-color: #d44d4d; 
  color: #fff; 
  font-weight: bold;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
  background-color: #fff;
  margin: 10px;
  max-width: 350px; 
}

.card img {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid #ccc; 
  max-height: 220px;
}

.card-content {
  padding: 10px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px; 
  margin: 0 auto;
  margin-top: 60px;
}
.search-container {
  display: flex;
  max-width: 400px; 
  margin: 0 auto; 
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25px; 
  overflow: hidden;
}

.search-button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}
h1 {
  font-size: 42px;
}

.form_add {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button_add {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button_add:hover {
  background-color: #0056b3;
}

select {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.back{
  background-color: rgb(162, 223, 104); 
  color: white;
}

.search-ingredients {
  display: flex;
  max-width: 400px; 
  margin: 0 auto; 
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25px; 
  overflow: hidden;
}


label {
  cursor: pointer;

}


