{% extends "base.html" %}

{% block main %}
<header>
    <div class="header-container">
        <div class="menu-items">
            {% if username == 'Julia' %}
                <nav>
                    <a href="/new" class="button">Добавить рецепт</a>
                    <a href="/edit" class="button">Редактировать</a>
                    <a href="/delete_recipes" class="button">Удалить</a><br>
                    <a href="/recipes" class="back" style="margin-top: 10px;">Вернуться на главную</a><br>
                    <div style="margin-left: 2px; margin-top: 10px; font-size: 14px;">Выполнила: Овчинникова Юля</div>
                </nav>
            {% endif %}
        </div>
        <div class="user-info">
            <div class="username">
                {{ username }}
            </div>
            <div class="user-actions">
                <a href="/logout" class="button">Выход</a>
                <a href="/delete_acc" class="button delete-account">Удалить аккаунт</a>
            </div>
        </div>
    </div>
</header>
<h1 style="text-align: center;">Добавление рецептов</h1>
<form method="POST" class="form_add">
    
    <input type="text" name="input_name" placeholder="Напишите название рецепта" style="height: 28px;"><br>
    <input type="text" name="input_ingridients" placeholder="Напишите ингридиенты" style="height: 28px;"><br>
    <input type="text" name="input_steps" placeholder="Напишите шаги приготовления" style="height: 28px;"><br>
    <input type="text" name="input_img" placeholder="Вставьте ссылку на фотографию" style="height: 28px;"><br>
    <span class="errors" style="margin-top: 100px;">{{errors}}</span>
    <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="button_add">Добавить рецепт</button>
    </div>
</form>
{% endblock %}