{% extends "base.html" %}

{% block main %}
<header>
    <div class="header-container">
        <div class="menu-items">
            {% if username == 'Julia' %}
                <nav>
                    <a href="/new" class="button">Добавить рецепт</a>
                    <a href="/edit" class="button">Редактировать</a>
                    <a href="/delete_recipes" class="button">Удалить</a><br>
                    <a href="/recipes" class="back" style="margin-top: 10px;">Вернуться на главную</a><br>
                    <div style="margin-left: 2px; margin-top: 10px; font-size: 14px;">Выполнила: Овчинникова Юля</div>
                </nav>

            {% endif %}
        </div>
        <div class="user-info">
            <div class="username">
                {{ username }}
            </div>
            <div class="user-actions">
                <a href="/logout" class="button">Выход</a>
                <a href="/delete_acc" class="button delete-account">Удалить аккаунт</a>
            </div>
        </div>
    </div>
</header>
<h1 style="margin-left: 400px;">Рецепты</h1>
<form class="searching" method="POST">
    <div class="search-container">
    <input type="text" placeholder="Введите название рецепта" name="name" class="search-container" style="flex: 1;  border: none; padding: 10px; outline: none;font-size: 16px;">
    </div>
    <div class="search-ingredients" style="margin-top: 20px;">
    <input type="text" placeholder="Введите название ингредиента" name="name_ing" class= "search-ingredients" style="flex: 1; border: none; padding: 10px; outline: none;font-size: 16px;">
    <button type="submit" class="search-button">Найти</button><br>
    </div>
    <div> 
        <select name="ingredientOption" style="width: 25%; margin-left: 700px; margin-top: 20px; border-radius: 50px;">
            <option value="all" selected>В рецепте должны быть все ингредиенты</option>
            <option value="any">В рецепте должен быть хотя бы один ингредиент</option>
        </select>
    </div>
</form>
    
    
    <main>
        <div class="card-container">
            {% for i in all_recipes %}
            <div class="card">
                <img src="{{i.image_url}}"> 
                <h2 class="card-content" style="margin-top: 0;">{{ i.name }}</h2>
                <div class="card-content" style="margin-bottom: 3px;">{{ i.ingridients }}</div>
                <div class="card-content">{{ i.steps }}</div>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
